<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="10" >
    <title>Message</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div id="container">
                    <div>User Message: <%= message["text"] %></div>
                    <div>User: <%= message["user"] %></div> 
                    <div>Date added: <%= message["added"] %></div>
                    <a href="/" class="link-button">Back</a>
    </div>
</body>
</html>